<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Plans</title>
    <link rel="stylesheet" href="\static\diet.css">
</head>
<body>
    <h2>Diet Plans</h2>
    
    <h3>User: {{ user[1] }}</h3>
    
    {% if diet_plans %}
        <ul>
            {% for plan in diet_plans %}
                <li>Date: {{ plan[2] }}</li>
                <li>Meals: {{ plan[3] }}</li>
                <li>Calories: {{ plan[4] }}</li>
                <li>Protein: {{ plan[5] }} g</li>
                <li>Fat: {{ plan[6] }} g</li>
                <li>Carbs: {{ plan[7] }} g</li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No diet plans found.</p>
    {% endif %}
    
    <p><a href="{{ url_for('home') }}">Home</a></p>
</body>
</html>
