<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Foods</title>
    <link rel="stylesheet" href="static/manage.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Manage Foods</h2>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Search Form -->
        <form method="POST" action="{{ url_for('search_foods') }}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by food name" name="search_query"
                    required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <!-- Food List -->
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Fat</th>
                    <th>Carbs</th>
                    <th>Vitamins</th>
                    <th>Minerals</th>
                </tr>
            </thead>
            <tbody>
                {% for food in foods %}
                <tr>
                    <td>{{ food[1] }}</td>
                    <td>{{ food[2] }}</td>
                    <td>{{ food[3] }}</td>
                    <td>{{ food[4] }}</td>
                    <td>{{ food[5] }}</td>
                    <td>{{ food[6] }}</td>
                    <td>{{ food[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        
        <p class="text-center"><a href="{{ url_for('home') }}">Cancel</a></p>
    </div>
</body>

</html>
